.sidebar {
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
    background-color: #0a5a71;
    color: #F9F9FB;
    user-select: none;
}

.logo {
    font-family: EncodeSansNormal, Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color: #8cb1bc;
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
    padding: 1rem;
    border-bottom: 0.07rem solid #0C4D5F;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.logo:hover {
    background-color: #016c8a;
}

.addFolder {
    border-bottom: 0.07rem solid #0C4D5F;
    cursor: pointer;
    text-align: center;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFolder:hover {
    background-color: #0098c3;
}

.addFolder > i {
    padding-left: 0.5rem;
}

.plusIcon {
    font-size: 0.6rem;
}

.folderIcon {
    font-size: 1.2rem;
}