.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 5rem;
    margin: 1rem;
}

.subHeader {
    font-size:1.5rem;
}