.controls {
    width: 0;
    transition: width 250ms ease;
    white-space: nowrap;
}

.button {
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-left: 0.07rem solid #037b9c;
    cursor: pointer;
    visibility: hidden;
}

.button:hover {
    background-color: #037b9c;
}

.controls.active .button:hover {
    background-color: #0098c3;
}

.controls.active .editButton {
    background-color: #037b9c;
    cursor: default;
}

.controls.active .editButton:hover {
    background-color: #016c8a;
}

.itemContainer.active .controls.active .editButton {
    background-color: #019cc7;
}

.itemContainer.active .button {
    border-left: 0.07rem solid #019cc7;
}

.itemContainer {
    display: flex;
    align-items: center;
    background-color: #0084a9;
    overflow: hidden;
}

.itemContainer:hover .controls,
.controls.active {
    width: 5.15rem;
}

.itemContainer:hover .button,
.controls.active .button {
    visibility: visible;
}


.itemContainer.active {
    background-color: #00acdc;
}

.itemContainer:not(.active):hover {
    background-color: #0098c3;
}

.link {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.editContainer {
    display: flex;
    flex-grow: 1;
}

.editInput {
    margin-left: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    font: inherit;
    flex-grow: 1;
    width: 0;
}

.editIcon {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.error {
    font-size: 0.9rem;
    padding: 0.25rem;
    color: #9f3a38;
    background-color: #fff6f6;
    border-bottom: 0.07rem solid #0C4D5F;
}