.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.viewContainer {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    height: 100%;
}

.button {
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    border-left: 0.07rem solid #162f36;
    cursor: pointer;
    color: #F9F9FB;
}

.button:hover {
    background-color: #31798f;
}

.button.disabled {
    opacity: 0.25;
    pointer-events: none;
}

.toolbar {
    background-color: #1c3e48;
    display: flex;
    color: #F9F9FB;
    min-height: 3.5rem;
    font-size: 1.2rem;
    user-select: none;
}

.flexTool {
    flex-basis: 50%;
    flex-grow: 1;
    padding-left: 0.5rem;
    color: #F9F9FB;
    display: flex;
    min-height: 3.5rem;
    line-height: 3.5rem;
}

.flexTool:first-child {
    border-right: 0.14rem solid #162f36;
}

.controls {
    margin-left: auto;
}

.controls .button:last-child {
    border-right: 0.07rem solid #162f36;
}

.editor {
    flex-basis: 50%;
    flex-grow: 1;
}

.preview {
    flex-grow: 1;
    overflow-y: auto;
    flex-basis: 50%;
}

.previewWrapper {
    padding: 1rem;
}