.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 200ms linear;
    visibility: hidden;
    opacity: 0;
}

.background.visible {
    visibility: visible;
    opacity: 1;
}

.container {
    width: 40rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.4rem 0 rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    color: #F9F9FB;
    margin-top: -3rem;
    transition: all 350ms ease;
}

.background.visible .container {
    margin-top: 0;
}

.message {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #0084a9;
    border-bottom: 0.07rem solid #0C4D5F;
}

.controls {
    width: auto;
    height: 3rem;
    background-color: #0a5a71;
    display: flex;
    justify-content: flex-end;
}

.accept, .decline {
    border-left: 0.07rem solid #0C4D5F;
    font-size: 2rem;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decline:hover, .accept:hover {
    background-color: #0f6d88;
}

.decline:hover {
    color: #9f3a38;
}

.accept:hover {
    color: #17bb75;
}



.enter {
    opacity: 0.01;
    transition: opacity 1.5s ease-in;
  }
  .enter.enterActive {
    opacity: 1;
  }
  .leave {
    opacity: 1;
    transition: opacity 1.5s ease-in;
  }
  .leave.leaveActive {
    opacity: 0.01;
  }
  .appear {
    opacity: 0.01;
  }
  .appear.appearActive {
    opacity: 1;
    transition: opacity 1.5s ease-in;
  }