.items {
    display: none;
}

.active .items {
    display: block;
}

.addFile {
    border-bottom: 0.07rem solid #0C4D5F;
    background-color: #0f6d88;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addFile:hover {
    background-color: #0098c3;
}

.addFile > i {
    padding-left: 0.5rem;
}

.plusIcon {
    font-size: 0.6rem;
}

.fileIcon {
    font-size: 1.2rem;
}

