.controls {
    width: 0;
    transition: width 250ms ease;
    white-space: nowrap;
}

.button {
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-left: 0.07rem solid #0C4D5F;
    cursor: pointer;
    visibility: hidden;
}

.button:hover,
.controls.active .button:hover {
    background-color: #0098c3;
}

.controls.active .editButton {
    background-color: #016c8a;
    cursor: default;
}

.controls.active .editButton:hover {
    background-color: #016c8a;
}

.titleContainer {
    display: flex;
    align-items: center;
    border-bottom: 0.07rem solid #0C4D5F;
    height: 2.5rem;
    overflow: hidden;
}

.titleContainer:hover .controls,
.controls.active {
    width: 5.15rem;
}

.titleContainer:hover .button,
.controls.active .button {
    visibility: visible;
}

.title {
    cursor: pointer;
    background-color: #0a5a71;
    display: flex;
    align-items: center;
    width: 0;
    flex-grow: 1;
    overflow: hidden;
}

.caret {
    font-size: 0.6rem;
    min-width: 0.8rem;
    padding-left: 0.5rem;
}

.folderName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.editContainer {
    display: flex;
    flex-grow: 1;
}

.editInput {
    background-color: transparent;
    outline: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    font: inherit;
    flex-grow: 1;
    width: 0;
}

.editIcon {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.error {
    font-size: 0.9rem;
    padding: 0.25rem;
    color: #9f3a38;
    background-color: #fff6f6;
    border-bottom: 0.07rem solid #0C4D5F;
}
